* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family:
		system-ui,
		-apple-system;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

input,
select,
button,
textarea {
	font: inherit;
}

input,
button {
	outline: none;
	border: none;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	display: block;
}
